.git
__pycache__/
*.pyc
.venv/
tests/
.mypy_cache/
.ruff_cache/
dist/
build/
.build/
.precommit_logs/

# Infrastructure & CI
terraform/
container/
.github/
.pre-commit-config.yaml
.checkov.yml

# Documentation
docs/
README.md
SECURITY.md
LICENSE

# Deployment scripts
setup-env.sh
deploy.sh
deploy/
